# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\SI 825190013\SEMESTER 3\OBJECT BASED PROGRAMMING\LATIHAN\Demo-Database\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
